---
import Contact_ from 'src/sections/contact.astro';
import HomeLayout_ from 'src/layouts/home.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';

import { team, teamDescription } from 'src/text/team';

---

<HomeLayout_ class="team" title="Company" navFixed={true} navOpaqueAtTop={true}>
	<Section_ class="hero team__hero">
		<div class="overlay">
			<h1 class="text--hdg--1">Our team</h1>
		</div>

		<Fragment slot="background">
			<Img_
				alt="Rochester, MN skyline"
				class="team__hero__bg"
				src="/img/bg/rochester.jpg"
			/>
		</Fragment>
	</Section_>

	<Section_ cols={0}>
		<div>
			<p set:html={ teamDescription }></p>

			<div class="team__contact">
				<strong>Geneticure, LLC</strong>
				<Contact_ class="team__contact" />
			</div>

			<ul class="people">
				{
					team.map((person) =>
						<li class="person">
							<div class="person__img">
								<Img_
									alt={person.title}
									src={person.img}
								/>
							</div>

							<div class="person__text">
								<h2 class="text--hdg--2">
									{person.name}

									{
										person.social.map((social) =>
											<Route_
												class="person__social"
												href={social.href}
											>
												<Img_
													alt={`${social.title} account for ${person.name}`}
													class="person__social__icon"
													src={social.img}
												/>
											</Route_>,
										)
									}
								</h2>
								<p class="text--hdg--3">{person.title}</p>

								<p>{person.description}</p>
							</div>
						</li>,
					)
				}
			</ul>
		</div>
	</Section_>

	<SvgPattern_
		class="team__bg"
		id="team__bg--left"
		src="public/img/icon/helix-pattern.svg"
		width="100"
		height="100"
	/>

	<SvgPattern_
		class="team__bg"
		id="team__bg--right"
		src="public/img/icon/helix-pattern.svg"
		width="100"
		height="100"
	/>
</HomeLayout_>

<style lang="scss">
@use 'src/scss/vars';

.team {
	:global(main) {
		position: relative;
	}

	&__hero {
		position: relative;
		z-index: 1;

		&__bg {
			position: static;
		}
	}

	&__contact {
		line-height: 2em;
		text-align: center;
	}

	&__bg {
		height: 100%;
		position: absolute;
		top: 0;
		width: 50px;
		z-index: -1;

		:global(path) {
			fill: none;
			stroke-width: 1;
		}

		&--left {
			right: calc(100% - var(--content-padding-x) + 10px);

			:global(path) {
				stroke: vars.$color--brand--offset--sink;
			}
		}

		&--right {
			left: calc(100% - var(--content-padding-x) + 10px);

			:global(path) {
				stroke: vars.$color--shadow--sink;
			}
		}
	}
}

.person {
	align-items: flex-start;
	display: flex;
	padding-top: 80px;
}

.person__img {
	aspect-ratio: 1;
	background-color: vars.$color--bg--offset--sink;
	border-radius: 50%;
	flex-shrink: 0;
	height: auto;
	overflow: hidden;

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

.person__social__icon {
	display: inline-block;
	height: .6em;
	vertical-align: middle;
	width: auto;
}

@include vars.if-viewport('==', sm) {
	.person__img {
		width: 80px;
	}

	.person__text {
		padding-left: 10px;
	}
}

@include vars.if-viewport('>', sm) {
	.person__img {
		width: 130px;
	}

	.person__text {
		padding-left: 30px;
	}
}
</style>
