---
import Contact_ from 'src/sections/contact.astro';
import HomeLayout_ from 'src/layouts/home.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';

import { team, teamDescription } from 'src/text/team';

---

<HomeLayout_ class="_company" title="Company" navFixed={true} navOpaqueAtTop={true}>
	<Section_ class="hero _company__hero">
		<div class="overlay overlay--left">
			<h1 class="text--hdg--1">Our team</h1>
		</div>

		<Fragment slot="background">
			<Img_
				alt="Rochester, MN skyline"
				class="_company__hero__bg"
				src="/img/bg/rochester.jpg"
			/>
		</Fragment>
	</Section_>

	<Section_ cols={0}>
		<div>
			<p set:html={ teamDescription }></p>

			<div class="_company__contact">
				<strong>Geneticure, LLC</strong>
				<Contact_ class="_company__contact" />
			</div>

			<ul class="_persons">
				{
					team.map((person) =>
						<li class="_person">
							<div class="_person__img">
								<Img_
									alt={person.title}
									src={person.img}
								/>
							</div>

							<div class="_person__text">
								<h2 class="text--hdg--2 person__name">
									{person.name}

									{
										person.social.map((social) =>
											<Route_
												class="_person__social"
												href={social.href}
											>
												<Img_
													alt={`${social.title} account for ${person.name}`}
													class="_person__social__icon"
													src={social.img}
												/>
											</Route_>,
										)
									}
								</h2>
								<p class="text--hdg--3 _person__title">{person.title}</p>

								<p>{person.description}</p>
							</div>
						</li>,
					)
				}
			</ul>
		</div>
	</Section_>

	<div class="_company__bg">
		<SvgPattern_
			id="_company__bg__left"
			src="public/img/icon/helix-pattern.svg"
			width="100"
			height="100"
		/>

		<SvgPattern_
			id="_company__bg__right"
			src="public/img/icon/helix-pattern.svg"
			width="100"
			height="100"
		/>
	</div>
</HomeLayout_>

<style lang="scss">
@use 'src/scss/vars';

._company {
	:global(main) {
		overflow: hidden;
		position: relative;
	}

	&__hero {
		position: relative;
		z-index: 1;

		&__bg {
			position: static;
		}
	}

	&__contact {
		line-height: 2em;
		text-align: center;
	}

	&__bg {
		@include vars.expand;

		overflow: hidden;
		z-index: -1;

		:global(path) {
			fill: none;
			stroke-width: 1;
		}

		&__left,
		&__right {
			height: 100%;
			position: absolute;
			top: 0;
			width: 50px;
		}

		&__left {
			right: calc(100% - var(--content-padding-x) + 10px);

			:global(path) {
				stroke: vars.$color--brand--offset--sink;
			}
		}

		&__right {
			left: calc(100% - var(--content-padding-x) + 10px);

			:global(path) {
				stroke: vars.$color--shadow--sink;
			}
		}
	}
}

._person {
	&__img {
		aspect-ratio: 1;
		background-color: vars.$color--bg--offset--sink;
		border-radius: 50%;
		flex-shrink: 0;
		height: auto;
		overflow: hidden;

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__social__icon {
		display: inline-block;
		height: .6em;
		vertical-align: middle;
		width: auto;
	}


	@include vars.if-viewport('==', sm) {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-top: 80px;

		&__img {
			margin-bottom: 1em;
			width: 150px;
		}

		&__name,
		&__title {
			text-align: center;
		}
	}

	@include vars.if-viewport('>', sm) {
		align-items: flex-start;
		display: flex;
		padding-top: 80px;

		&__img {
			width: 130px;
		}

		&__text {
			padding-left: 30px;
		}
	}
}
</style>
