---
import Buttonset_ from 'src/components/buttonset.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';
import Svg_ from 'src/components/svg.astro';

import { routes } from 'src/routes';

const steps: Array<[
	[string, string],
	string,
	string,
	Array<[string, string]>?
]> = [
	[
		[`svg`, `kit`],
		`Order a kit`,
		`Purchase a kit online (no prescription required) and we'll get it to your home or office in a few days.`,
		[
			[`Buy now`, routes.buy],
		],
	],
	[
		[`svg`, `computer`],
		`Activate your kit`,
		`Log on to geneticure.com to activate your kit. You will receive instructions on how to complete the process and access your results. Included in your services, a physician will review your information and follow up with questions if needed. The physician will approve the test, if appropriate. If not approved for any reason, you will receive a full refund for your kit purchase.`,
		[
			[`Log in `, routes.login],
		],
	],
	[
		[`svg`, `swab`],
		`Swab your cheek`,
		`Follow the simple step-by-step instructions included in your kit. Return your sample to Geneticure in the pre-addressed envelope included in your kit.`,
	],
	[
		[`svg`, `dna_tube`],
		`Lab analysis`,
		`Once we receive your sample and the independent physician authorization, our CLIA-certified lab will begin to identify the unique markers in your genetic code.`,
	],
	[
		[`svg`, `algorithm`],
		`Proprietary algorithm`,
		`Your unique genetic code is analyzed by our patented software and algorithm, supported by hundreds of peer-reviewed papers as well as our own clinical trial data.`,
	],
	[
		[`img`, `/img/icon/doc.svg`],
		`Personalized report`,
		`Approximately 10-15 business days from when our lab receives the sample, you will receive a personalized report that includes prescription recommendations along with the supporting genetic detail. You will also have the opportunity to discuss your results with a genetic counselor at no additional charge.`,
	],
	[
		[`svg`, `doctor`],
		`Talk to your doctor`,
		`Share your Geneticure test with your doctor and they may be able to use it to optimize your prescriptions. It is very important that you do not start or stop taking any medications without first consulting your provider.`,
	],
];
---

<Section_ class="_howitworks" cols={0}>
	<div class="section__col--padless _howitworks__body">
		<h2 class="text--hdg--1">How does it <em>work</em>?</h2>

		<hr class="fancy" />

		<ol class="_steps">
			{ steps.map(([[iconType, iconSrc], title, body, buttons]) =>
				<li class="_steps__step">
					{ iconType === `svg` &&
						<Svg_
							class="_steps__step__icon"
							src={`public/img/icon/${iconSrc}.svg`}
						/>
					}
					{ iconType === `img` &&
						<Img_
							alt={title}
							class="_steps__step__icon"
							src={iconSrc}
						/>
					}
					<div class="_steps__step__body">
						<h3 class="text--hdg--2 _steps__step__title" set:html={ title }></h3>
						<p set:html={ body }></p>

						{
							buttons &&
							<Buttonset_>
								{
									buttons.map(([text, href]) =>
										<Route_
											class="button--high"
											href={href}
										>
											{text}
										</Route_>,
									)
								}
							</Buttonset_>
						}
					</div>
				</li>,
			) }
		</ol>
	</div>

	<Fragment slot="background">
		<SvgPattern_
			height="100"
			id="_howitworks__bg"
			patternTransform="rotate(35)"
			src="public/img/icon/helix-pattern.svg"
			width="150"
		/>
	</Fragment>
</Section_>

<style lang="scss">
@use 'sass:math';
@use '/src/scss/vars';

._steps {
	--icon-diameter: 0;

	&__step {
		&__icon {
			aspect-ratio: 1;
			width: var(--icon-diameter);

			:global(path) {
				fill: vars.$color--text;
			}
		}

		&__title {
			color: vars.$color--brand;
		}

		.buttonset {
			margin-top: 1em;
		}
	}

	@include vars.if-viewport('==', sm) {
		$border__width: 3px;

		--icon-diameter: 50px;

		border-left: $border__width solid vars.$color--bg--offset--sink;

		&__step {
			margin-top: 30px;
			padding-left: calc(.5 * var(--icon-diameter) + 5px);
			position: relative;

			&__icon {
				background: vars.$color--bg;
				box-shadow: -5px 0 0 5px vars.$color--bg;
				left: calc(-.5 * (var(--icon-diameter) + #{$border__width}));
				position: absolute;
				z-index: 1;
			}

			&__title {
				align-items: center;
				display: flex;
				height: var(--icon-diameter);
			}
		}
	}

	@include vars.if-viewport('>', sm) {
		--icon-diameter: 50px;
		--text-margin-left: 20px;

		@include vars.list--dotted((
			border__color: vars.$color--bg--offset--sink,
			border__offset: 10px,
			border__width: 3px,
			dot__background: vars.$color--bg,
			dot__color: vars.$color--brand,
			dot__diameter: 10px,
		));

		margin-left: calc(var(--icon-diameter) + var(--text-margin-left));
		margin-top: 30px;

		&__step {
			display: flex;
			padding-left: var(--text-margin-left);

			&__body {
				position: relative;
				top: -.4em;
			}

			&__icon {
				position: absolute;
				right: calc(100% + var(--text-margin-left));
				top: calc((-.5 * var(--icon-diameter)) + 10px);
			}

			&:not(:last-child) {
				padding-bottom: 30px;
			}
		}
	}

	@include vars.if-viewport('>=', lg) {
		--icon-diameter: 100px;
		--text-margin-left: 30px;

		margin-top: 80px;

		&__step {
			&:not(:last-child) {
				padding-bottom: 80px;
			}
		}
	}
}

._howitworks {
	--bg-width: 0;
	--bg-offset: 0;

	:global(.section__content) {
		justify-content: flex-start;
	}

	&__body {
		box-sizing: content-box;
		margin-right: auto;
		max-width: var(--bg-width);
		width: 100%;
	}

	&__bg {
		&::after {
			@include vars.expand;

			background-image: linear-gradient(270deg, #{vars.$color--bg}00, vars.$color--bg var(--bg-offset));
			z-index: 1;
		}

		:global(path) {
			fill: none;
			stroke: vars.$color--shadow--sink;
			stroke-linecap: round;
			stroke-width: 2;
		}
	}

	@include vars.if-viewport('<', lg) {
		--bg-offset: calc(var(--content-padding-x) + 50px);
		--bg-width: auto;
	}

	@include vars.if-viewport('>=', lg) {
		--bg-offset: calc(100vw - var(--bg-width) + 200px);
		--bg-width: 1100px;
	}
}
</style>
