---
import Carousel_ from 'src/components/carousel.astro';
import Img_ from 'src/components/img.astro';
import Section_ from 'src/components/section.astro';
import SvgGradient_ from 'src/components/svg-gradient.astro';
import Svg_ from 'src/components/svg.astro';

import { quotes } from 'src/text/quotes';
---

<Section_ class="quotes">
	<div class="quotes__text">
		<h2 class="quotes__text__headline text--hdg--2">
			<Svg_
				aria-hidden="true"
				class="quotes__icon"
				src="public/img/icon/quote.svg"
			/>

			What our patients say:
		</h2>

		<SvgGradient_ id="quotes__icon__gradient" />

		<Carousel_ id="quote" source={quotes}>
			{quotes.map((quote, index) =>
				<div
					class="quote"
					data-toggle-target="quote"
					data-toggle-target-isdefault={index === 0}
					data-toggle-index={index}
				>
					<blockquote class="quote__body" set:html={quote.text}></blockquote>

					<p class="quote__author">
						<strong>{quote.name}</strong>
					</p>
				</div>,
			)}
		</Carousel_>
	</div>

	<div class="quotes__images">
		<Img_
			alt="Open Geneticure kit"
			lazy={true}
			src="/img/kit/kit-open.png"
		/>

		<Img_
			alt="Geneticure report"
			lazy={true}
			src="/img/report.png"
		/>
	</div>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

.quotes {
	background: vars.$color--bg--offset;

	&__images {
		align-items: center;
		background-image: url('/img/bg/faces.jpg');
		background-size: contain;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		overflow: hidden;
		position: relative;

		img {
			filter: drop-shadow(0 0 50px #000000A0);
			max-width: 400px;
			width: 40%;

			&:nth-child(1) {
				margin-right: -30px;
				position: relative;
				z-index: 1;
			}
		}
	}

	&__icon {
		aspect-ratio: 1;
		display: inline-block;
		vertical-align: bottom;

		:global(path) {
			fill: url('#quotes__icon__gradient');
		}

		&__gradient :global(stop) {
			&:nth-child(1) {
				stop-color: vars.$color--brand--sink;
			}

			&:nth-child(2) {
				stop-color: vars.$color--brand;
			}
		}
	}
}

.quote {
	background-color: vars.$color--bg;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;

	&__body {
		white-space: pre-wrap;
	}

	&__author {
		margin-left: 50%;

		&::before {
			background: vars.$color--brand--sink;
			content: '';
			display: inline-block;
			height: 2px;
			margin-right: 1ex;
			vertical-align: middle;
			width: 30px;
		}
	}
}

@include vars.if-viewport('==', sm) {
	.quotes {
		:global(.carousel__arrow) {
			font-size: 60px;
			width: var(--content-padding-x);
		}
	}
}

@include vars.if-viewport('<', lg) {
	.quotes {
		&__icon {
			width: 40px;
		}

		&__images {
			order: -1;
			padding: 50px !important;
		}

		&__text {
			padding-bottom: 50px !important;
			padding-top: 50px !important;
		}
	}
}

@include vars.if-viewport('>=', lg) {
	.quotes {
		&__icon {
			width: 60px;
		}

		&__images {
			aspect-ratio: 1;
			border-radius: 50%;
			box-sizing: border-box;
			margin-right: var(--content-padding-x);
			overflow: hidden;
			padding-right: 0 !important;
			width: calc(50% - var(--content-padding-x)) !important;
		}

		&__text {
			padding-right: 50px !important;
		}
	}

	.quote {
		&__author {
			margin-left: 50%;
		}
	}
}
</style>
