---
import { getAverageColor } from 'fast-average-color-node';
import { getProps } from 'src/js/astro';
import { imageSize } from 'image-size';
import { roundTo } from 'src/js/roundTo';

const { props, rest } = getProps(Astro.props, {
	alt: ``,
	bgColor: null,
	css: null,
	lazy: true, // TODO3: Not using `[loading="lazy"]` because I want the same behavior on CSS background=image and `<img />`
	src: null as string,
});

const isBackgroundImage = props.css ?? Astro.slots.has(`default`);

const path = `public${props.src}`;
const dimensions = imageSize(path); // TODO3: Figure out how to get `publicDir` at compile time.

const style={
	'aspect-ratio': `${roundTo(dimensions.width, 2)} / ${roundTo(dimensions.height, 2)}`,
	...(rest.style || {}),
};

const showBgColor = (props.bgColor ?? (props.src.match(/jpg$/)));
if (showBgColor) {
	const averageColor = await getAverageColor(path, { algorithm: `dominant` });
	style[`background-color`] = averageColor.hexa;
}
---

{
	isBackgroundImage &&
	<span
		class={`img ${props.class}`}
		data-src={props.lazy ? props.src : undefined}
		data-src-lazy={props.lazy}
		style={style}
		{...rest}
	>
		<slot />
	</span>
}

{
	!isBackgroundImage &&
	<span
		class={`img ${props.class}`}
		style={style}
	>
		<img
			alt={props.alt}
			data-src={props.lazy ? props.src : undefined}
			data-src-lazy={props.lazy}
			height={dimensions.height}
			src={props.lazy ? `data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==` : props.src}
			width={dimensions.width}
			{...rest}
		/>
	</span>
}

<style lang="scss">
@use 'src/scss/vars';

[data-src-lazy] {
	transition: opacity .2s;

	&[data-src] {
		opacity: 0;
	}

	&:not([data-src]) {
		opacity: 1;
	}
}

span {
	display: block;
	position: relative;
}

img {
	@include vars.expand;

	height: 100% !important;
}
</style>

<script>
import { IsInViewport } from 'src/js/isInViewport';

const ATTR__SRC = `data-src`;
const ATTR__LAZY = `data-src-lazy`;

const $images = Array.from(document.querySelectorAll(`[${ATTR__SRC}]`));
const $imagesLazy: Array<Element> = [];

for (const $image of $images) {
	if ($image.hasAttribute(ATTR__LAZY)) {
		$imagesLazy.push($image);
		continue;
	}

	setSource($image);
}

new IsInViewport({
	callback: (({ $element, isInViewport }) => {
		if (!isInViewport) {
			return;
		}

		setSource($element);
	}),
	getElements: () => $imagesLazy,
});

function setSource($element: Element) {
	const source = $element.getAttribute(ATTR__SRC);
	if (!source) {
		return;
	}

	if ($element.tagName.toLowerCase() === `img`) {
		$element.setAttribute(`src`, source);
		$element.addEventListener(`load`, () => {
			$element.removeAttribute(ATTR__SRC);
		}, { once: true });
	} else {
		($element as HTMLElement).style.setProperty(`background-image`, `url(${source})`);
		$element.removeAttribute(ATTR__SRC);
	}
}
</script>
