---
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';

import { getProps } from 'src/js/astro';

type LogoList = Array<{
	icon: string,
	name: string,
	url: string,
}>;

const { props, rest } = getProps(Astro.props, {
	logos: [] as LogoList,
});
---

<ul class={`_logo-list ${props.class}`} {...rest}>
	{
		props.logos.map((logo) =>
			<li class="_logo">
				<Route_
					href={logo.url}
					title={logo.name}
				>
					<Img_
						alt={logo.name}
						bgColor={false}
						class="_logo__img"
						lazy={true}
						src={logo.icon}
					/>
				</Route_>
			</li>,
		)
	}
</ul>

<style lang="scss">
@use 'src/scss/vars';

._logo-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

._logo {
	display: block;
	flex-shrink: 0;
	margin: 0 20px;
	mix-blend-mode: multiply;

	&__img {
		aspect-ratio: 1 !important;
		width: 100px;

		:global(img) {
			filter: grayscale(1);
			transition: filter .2s;

			._logo:hover & {
				filter: none;
			}
		}
	}
}
</style>
