---
import Contact_ from 'src/sections/contact.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';

import { menu } from 'src/text/menu';
import { socials } from 'src/text/social';

const year = (new Date()).getFullYear();
---

<footer>
	<div class="footer__wrap">
		<div class="content footer">
			<div>
				<Route_ href="home">
					<Img_
						alt="Geneticure logo"
						class="footer__logo"
						src="/img/logo/geneticure.svg"
					/>
				</Route_>

				<Contact_ class="footer__contact" />
			</div>

			<div class="footer__social">
				{
					socials.map((social) =>
						<Route_ href={social.href}>
							{social.label}<Img_ src={social.icon} />
						</Route_>,
					)
				}
			</div>

			<div class="footer__links">
				{
					menu.map((link) =>
						<Route_ href={link.href}>{link.label}</Route_>,
					)
				}
				<Route_ to="contact">Contact us</Route_>
			</div>
		</div>
	</div>

	<div class="content disclaimer">
		<p><small>These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. This test, like all medical tests, should be used by your healthcare provider as an aid in decision making about your health, which includes much more information than genetics. Do not start or stop taking any medications without first consulting your healthcare provider.</small></p>

		<p class="list--inline--links">
			<small>
				© {year} Geneticure, Inc. All rights reserved.
				<Route_ href="terms">Terms and conditions</Route_>
				<Route_ href="privacy">Privacy</Route_>
			</small>
		</p>
	</div>
</footer>

<style lang="scss">
@use 'src/scss/vars';

.footer__wrap {
	background-color: vars.$color--shadow;

	@media print {
		background-color: transparent;
		border-top: 1px solid #000000;
	}
}

.footer {
	display: flex;
	justify-content: space-between;

	@include vars.if-viewport('<', lg) {
		flex-direction: column;
	}
}

.footer a {
	color: inherit;
	font-weight: normal;

	&:hover {
		color: vars.$color--brand--sink;
	}
}

.footer__logo {
	margin-bottom: .5em;
	max-width: 300px;
}

.footer__social {
	font-size: 0;
	margin-bottom: 20px;

	.img {
		display: inline-block;
		height: 40px;
		width: 40px;
	}

	a:not(:last-child) {
		margin-right: 10px;
	}
}

.footer__contact {
	line-height: 2em;
	margin-bottom: 30px;
}

.footer__links {
	display: flex;
	flex-direction: column;

	@include vars.if-viewport('>=', lg) {
		align-items: flex-end;
	}
}

.footer__links a {
	margin-bottom: 1em;
}

.disclaimer {
	min-height: 0;
}
</style>
