---
import Contact_ from 'src/sections/contact.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';

import { menu } from 'src/text/menu';
import { socials } from 'src/text/social';

const year = (new Date()).getFullYear();
---

<footer>
	<div class="section _footer">
		<div>
			<Route_ href="home">
				<Img_
					alt="Geneticure logo"
					class="_footer__logo"
					src="/img/logo/geneticure.svg"
				/>
			</Route_>

			<Contact_ class="_footer__contact" />
		</div>

		<div>
			<div class="_footer__menu">
				{
					menu.map((link) =>
						<Route_ href={link.href}>{link.label}</Route_>,
					)
				}
				<Route_ to="contact">Contact us</Route_>
			</div>

			<div class="_footer__social">
				{
					socials.map((social) =>
						<Route_ href={social.href}>
							{social.label}<Img_ src={social.icon} />
						</Route_>,
					)
				}
			</div>
		</div>

		<SvgPattern_
			height="30"
			id="_footer__bg"
			src="public/img/icon/helix-pattern.svg"
			patternTransform="rotate(35)"
			width="30"
		/>
	</div>

	<div class="section _disclaimer">
		<p><small>These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. This test, like all medical tests, should be used by your healthcare provider as an aid in decision making about your health, which includes much more information than genetics. Do not start or stop taking any medications without first consulting your healthcare provider.</small></p>

		<p class="list--inline--links">
			<small>
				© {year} Geneticure, Inc. All rights reserved. CLIA 24D2145318.
				<Route_ to="terms">Terms and conditions</Route_>
				<Route_ to="privacy">Privacy</Route_>
			</small>
		</p>
	</div>
</footer>

<style lang="scss">
@use 'src/scss/vars';

._disclaimer,
._footer {
	padding-bottom: 50px;
	padding-top: 50px;
}

._footer {
	line-height: 2em;
	position: relative;

	&__bg {
		@include vars.expand;

		background-color: vars.$color--bg;
		z-index: -1;

		&::after {
			@include vars.expand;

			background-image: linear-gradient(-60deg, transparent, vars.$color--bg--offset);
			z-index: 1;
		}

		:global(path) {
			fill: none;
			stroke: vars.$color--bg--offset--sink;
		}
	}

	&__menu {
		margin-bottom: 1rem;

		a {
			color: vars.$color--lowlight;

			&:hover {
				color: vars.$color--brand--sink;
			}
		}
	}

	&__logo {
		margin-bottom: .5em;
		max-width: 300px;
	}

	&__social {
		.img {
			height: 40px;
			width: 40px;
		}

		a {
			display: inline-flex;
			font-size: 0;

			&:not(:last-child) {
				margin-right: .5rem;
			}
		}
	}

	@include vars.if-viewport('==', sm) {
		&__menu {
			display: flex;
			flex-direction: column;
			text-align: left;
		}

		&__social {
			display: flex;
		}
	}

	@include vars.if-viewport('>', sm) {
		display: flex;
		justify-content: space-between;

		&__social {
			display: flex;
			justify-content: flex-end;
		}
	}

	@include vars.if-viewport('==', md) {
		&__menu {
			display: flex;
			flex-direction: column;
			text-align: right;
		}
	}

	@include vars.if-viewport('>=', lg) {
		&__menu {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;

			a {
				padding: 0 .5rem;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
</style>
