---
import 'src/scss/index.scss';
import Egg_ from 'src/sections/egg.astro';
import Footer_ from 'src/sections/footer.astro';
import Nav_ from 'src/sections/nav.astro';

import { getProps } from 'src/js/astro';

const { props, rest } = getProps(Astro.props, {
	navFixed: true,
	navOpaqueAtTop: true,
	title: `The right treatment for you, prescribed by your DNA` as string,
});

const isProd = Boolean(import.meta.env.PROD);

const description = `Hypertension is the leading preventable cause of death in the world. Geneticure's patented test uses a sample of your DNA to recommend a personalized treatment plan, just for you.`;
const title = `Geneticure` + (props.title && (` | ` + props.title));
---
<html lang="en" class={props.class} {...rest}>
	<head>
		<title set:html={title}></title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">

		<meta name="description" content={description}>
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content="/img/site-preview.png">
		<meta property="og:image:alt" content={title}>
		<meta property="og:url" content={`https://geneticure.com${Astro.url.href}`}>
		<meta name="twitter:card" content="summary_large_image">
		<link rel="icon" href="/img/favicon.svg">

		{ isProd ?
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
			:
			<link rel="stylesheet" href="/css/localfonts.css">
		}

		<script src="src/js/index"></script>
	</head>
	<body>
		<Nav_ fixed={props.navFixed} opaqueAtTop={props.navOpaqueAtTop} />

		<main>
			<slot />
		</main>

		<Footer_ />

		<Egg_ />
	</body>
</html>
